/* main.module.css */

.videoContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.videoBackground {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%; /* Make the video background responsive */
  height: 100%; /* Make the video background responsive */
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 0;
  border-radius: 0px;
}

/* Media query for tablets and larger screens */
@media (min-width: 768px) {
  .videoBackground {
    width: 80%; /* Adjust width for larger screens */
    height: 80%; /* Adjust height for larger screens */
    border-radius: 16px;
  }
}

/* Media query for larger desktops */
@media (min-width: 1024px) {
  .videoBackground {
    width: 70%; /* Adjust width for larger desktops */
    height: 70%; /* Adjust height for larger desktops */
    border-radius: 16px;
  }
}
